body {
    background-color: rgb(246, 246, 246);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

div {
    margin:auto;
    margin-left: 2em;
    padding-left: 2em;
}

nav li {
    display: inline-block;
    padding: 1em;
}

#header, #index-header {
    color: rgb(240, 119, 6)
}

#login-button, #search-button, #sort-button, #add-car-button, #empty-car-button {
    padding: 5px;
    text-align: center;
    width: 10em;
}

input {
    margin: 5px;
    padding: 5px;
}

#sort-bar {
    padding: 5px;
}

li {
    padding: 0.5em;
}