<b>Ilmoituksen tiedot:</b>
<hr>
{% for spec in specs %}
<b>Merkki: </b>{{ spec[1] }} <br>
<b>Malli: </b>{{ spec[2] }} <br>
<b>Korimalli: </b>{{ spec[3] }} <br>
<b>Käyttövoima: </b>{{ spec[4] }} <br>
<b>Vetotapa: </b>{{ spec[5] }} <br>
<b>Vaihteisto: </b>{{ spec[6] }} <br>
<b>Mittarilukema: </b>{{ spec[7] }} <br>
<b>Vuosimalli: </b>{{ spec[8] }} <br>
<b>Hinta (€): </b>{{ spec[9] }} <br>
<b>Väri: </b>{{ spec[10] }} <br>
<b>Moottorin tilavuus (cm³): </b>{{ spec[11] }} <br>
<b>Teho (kW): </b>{{ spec[12] }} <br>
<b>Tieliikennekelpoisuus: </b>{{ spec[13 ]}} <br>
{% endfor %}
<hr>
<b>Lisätiedot:</b> <br>
{% for i in info %}
{{ i[0] }} <br>
<b>Ilmoitus jätetty:</b> <br> {{ i[1] }} <br>
{% endfor %}
<hr>
<b>Ilmoittajan tiedot:</b> <br>
{% for info in seller %}
<b>Myyjä: </b>{{ info[0] }} {{ info[1] }}<br>
<b>Puhelinnumero: </b>{{ info[2] }} <br>
<b>Sähköposti: </b>{{ info[3] }} <br>
<b>Paikkakunta: </b>{{ info[4] }} <br>
{% endfor %}
<hr>
<a href="/">Palaa takaisin etusivulle</a>