<b>Ilmoituksen tiedot:</b>
<hr>
{% for spec in specs %}
<b>Merkki: </b>{{ spec[1] }} <br>
<b>Malli: </b>{{ spec[2] }} <br>
<b>Korimalli: </b>{{ spec[3] }} <br>
<b>Käyttövoima: </b>{{ spec[4] }} <br>
<b>Vetotapa: </b>{{ spec[5] }} <br>
<b>Vaihteisto: </b>{{ spec[6] }} <br>
<b>Mittarilukema: </b>{{ spec[7] }} <br>
<b>Vuosimalli: </b>{{ spec[8] }} <br>
<b>Hinta (€): </b>{{ spec[9] }} <br>
<b>Väri: </b>{{ spec[10] }} <br>
<b>Moottorin tilavuus (cm³): </b>{{ spec[11] }} <br>
<b>Teho (kW): </b>{{ spec[12] }} <br>
<b>Tieliikennekelpoisuus: </b>
{% if spec[13] == true %}
Kyllä
{% else %}
Ei
{% endif %}
<br>
{% endfor %}
<hr>
<b>Varusteet:</b>
<br>
{% for e in equipment %}
{{ e[0] }} <br>
{% endfor %}
<hr>
<b>Auton kuva</b>
<br>
{% for i in info %}
<a href="/ad_image/{{ i[0] }}">Kuva</a>
<br>
<b>Lisätiedot:</b> <br>
{{ i[1] }} <br>
<b>Ilmoitus jätetty:</b> <br> {{ i[2].strftime("%Y-%m-%d") }} <br>
{% endfor %}
<hr>
<b>Ilmoittajan tiedot:</b> <br>
{% for info in seller %}
<b>Myyjä: </b>{{ info[0] }} {{ info[1] }}<br>
<b>Puhelinnumero: </b>{{ info[2] }} <br>
<b>Sähköposti: </b>{{ info[3] }} <br>
<b>Paikkakunta: </b>{{ info[4] }} <br>
{% endfor %}
<hr>
{% if logged == id %}
{% for i in info %}
<form action="/remove_ad/{{ i[0]  }}" method="POST">
    Poista ilmoitus tästä
    <input type="submit" value="Poista ilmoitus">
</form>
{% endfor %}
<br>
{% for i in info %}
<form action="/update_car_info/{{ i[0] }}" method="POST">
Muokkaa ilmoitusta tästä
<input type="submit" value="Muokkaa ilmoitusta">
</form>
{% endfor %}
<br>
{% endif %}
<a href="/">Palaa takaisin etusivulle</a>