<!DOCTYPE html>
<body>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% extends "layout.html" %}
    {% block title %}Tietojen täyttäminen{% endblock %}
    {% block content %}
    <div>
<form action="/send" method="POST" enctype="multipart/form-data">
<h2>Syötä auton tiedot:</h2>
<p>
    <b>Merkki:</b>
    <input type="text" name="brand" required>
</p>
<p>
    <b>Malli:</b>
    <input type="text" name="model" required>
</p>
<p>
    <b>Korimalli:</b>
<input type="radio" id="sedan" name="chassis" value="Porrasperä" checked>
<label for="sedan">Porrasperä</label>
<input type="radio" id="estate" name="chassis" value="Farmari">
<label for="estate">Farmari</label>
<input type="radio" id="coupe" name="chassis" value="Coupe">
<label for="coupe">Coupe</label>
<input type="radio" id="convertible" name="chassis" value="Avoauto">
<label for="convertible">Avoauto</label>
<input type="radio" id="hatchback" name="chassis" value="Viistoperä">
<label for="hatchback">Viistoperä</label>
<input type="radio" id="suv" name="chassis" value="Maasturi">
<label for="suv">Maasturi</label>
<input type="radio" id="van" name="chassis" value="Pakettiauto">
<label for="van">Pakettiauto</label>
<input type="radio" id="pickup" name="chassis" value="Lava-auto">
<label for="pickup">Lava-auto</label>
</p>
<p>
    <b>Käyttövoima:</b>
<input type="radio" id="gasoline" name="fuel" value="Bensiini" checked>
<label for="gasoline">Bensiini</label>
<input type="radio" id="diesel" name="fuel" value="Diesel">
<label for="diesel">Diesel</label>
<input type="radio" id="re85" name="fuel" value="Re85">
<label for="re85">RE85</label>
<input type="radio" id="electricity" name="fuel" value="Sähkö">
<label for="electricity">Sähkö</label>
</p>
<p>
    <b>
        Vetotapa:
    </b>
<input type="radio" id="rear" name="drive" value="Takaveto" checked>
<label for="rear">Takaveto</label>
<input type="radio" id="front" name="drive" value="Etuveto">
<label for="front">Etuveto</label>
<input type="radio" id="four" name="drive" value="Neliveto">
<label for="four">Neliveto</label>
</p>
<p>
    <b>
        Vaihteisto:
    </b>
<input type="radio" id="manual" name="transmission" value="Manuaali" checked>
<label for="manual">Manuaali</label>
<input type="radio" id="automatic" name="transmission" value="Automaatti">
<label for="automatic">Automaatti</label>
</p>
<p>
    <b>
        Mittarilukema:
    </b>
<input type="number" name="mileage" min="0" max="10000000" required>
(kilometreinä, KM)
</p>
<p>
    <b>
        Vuosimalli:
    </b>
<input type="number" name="year" min="1900" max="2021" required>
</p>
<p>
    <b>
        Hinta:
    </b>

<input type="number" name="price" min="1" max="10000000" required>
(Euroina, €)
</p>
<p>
    <b>
        Väri:
    </b>

<input type="text" name="color" required>
</p>
<p>
    <b>
        Moottorin tilavuus:
    </b>
<input type="number" name="engine" min="100" max="10000" required>
(kuutiosenttimetreinä, cm³)
</p>
<p>
    <b>
        Teho:
    </b>

<input type="number" name="power" min="0" max="2000" required>
(kilowatteina, kW)
</p>
<p>
    <b>
        Tieliikennekelpoisuus:
    </b>
<input type="radio" id="notlegal" name="legal" value="0">
<label for="notlegal">Ei tieliikennekelpoinen</label>
<input type="radio" id="legal" name="legal" value="1" checked>
<label for="legal">Tieliikennekelpoinen</label>
</p>
<p>
    <b>
        Lisätiedot:
    </b>
<br>
<textarea name="info" rows="3" cols="50"></textarea>
</p>
<h3>Valitse varusteet:</h3>
<ul style="list-style-type:none;">
    {% for i in equipment %}
<li>
    <input type="checkbox" id="{{ i[0] }}" name="eq" value="{{ i[1] }}">
    <label for="{{ i[0] }}">{{ i[1] }}</label>
</li>
{% endfor %}
</ul>
<p>
Voit lisätä halutessasi kuvan ilmoitukseen.
<br>
Kuvan maksimikoko on <i>100 kilotavua (kt)</i> ja kuvan tiedostomuodon on
oltava <i>.jpg</i>.
<br>
</p>
<p>
    <b>
        Kuva: 
    </b>
    <input type="file" name="file">
</p>
<input type="submit" value="Lähetä">
<input type="reset" value="Tyhjennä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</div>
{% endblock %}
</body>