{% for i in data %}
<form action="/update/{{ i[0] }}" method="POST">
    <p>
        Muokkaa ilmoituksen tietoja:
        <br>
        <b>HUOMIO! TARKASTA ETTÄ
            <ul>
                <li>
                    KORIMALLI
                </li>
                <li>
                    KÄYTTÖVOIMA
                </li>
                <li>
                    VETOTAPA
                </li>
                <li>
                    VAIHTEISTO
                </li>
                <li>
                    VARUSTELISTA
                </li>
            </ul>
            OVAT OIKEIN!
        </b>
    </p>
    Merkki:
    <input type="text" name="brand" value="{{ i[1] }}" required>
    <br>
    Malli:
    <input type="text" name="model" value="{{ i[2] }}" required>
    <br>
    Korimalli:
    <input type="radio" id="sedan" name="chassis" value="Porrasperä" checked>
    <label for="sedan">Porrasperä</label>
    <input type="radio" id="estate" name="chassis" value="Farmari">
    <label for="estate">Farmari</label>
    <input type="radio" id="coupe" name="chassis" value="Coupe">
    <label for="coupe">Coupe</label>
    <input type="radio" id="convertible" name="chassis" value="Avoauto">
    <label for="convertible">Avoauto</label>
    <input type="radio" id="hatchback" name="chassis" value="Viistoperä">
    <label for="hatchback">Viistoperä</label>
    <input type="radio" id="suv" name="chassis" value="Maasturi">
    <label for="suv">Maasturi</label>
    <input type="radio" id="van" name="chassis" value="Pakettiauto">
    <label for="van">Pakettiauto</label>
    <input type="radio" id="pickup" name="chassis" value="Lava-auto">
    <label for="pickup">Lava-auto</label>
    <br>
    Käyttövoima:
    <input type="radio" id="gasoline" name="fuel" value="Bensiini" checked>
    <label for="gasoline">Bensiini</label>
    <input type="radio" id="diesel" name="fuel" value="Diesel">
    <label for="diesel">Diesel</label>
    <input type="radio" id="re85" name="fuel" value="Re85">
    <label for="re85">RE85</label>
    <input type="radio" id="electricity" name="fuel" value="Sähkö">
    <label for="electricity">Sähkö</label>
    <br>
    Vetotapa:
    <input type="radio" id="rear" name="drive" value="Takaveto" checked>
    <label for="rear">Takaveto</label>
    <input type="radio" id="front" name="drive" value="Etuveto">
    <label for="front">Etuveto</label>
    <input type="radio" id="four" name="drive" value="Neliveto">
    <label for="four">Neliveto</label>
    <br>
    Vaihteisto:
    <input type="radio" id="manual" name="transmission" value="Manuaali" checked>
    <label for="manual-transmission">Manuaali</label>
    <input type="radio" id="automatic" name="transmission" value="Automaatti">
    <label for="automatic-transmission">Automaatti</label>
    <br>
    Mittarilukema:
    <input type="number" name="mileage" min="0" max="10000000" value="{{ i[7] }}" required>
    (kilometreinä)
    <br>
    Vuosimalli:
    <input type="number" name="year" min="1900" max="2021" value="{{ i[8] }}" required>
    <br>
    Hinta:
    <input type="number" name="price" min="1" max="10000000" value="{{ i[9] }}" required>
    (Euroina)
    <br>
    Väri:
    <input type="text" name="color" value="{{ i[10] }}" required>
    <br>
    Moottorin tilavuus:
    <input type="number" name="engine" min="100" max="10000" value="{{ i[11] }}" required>
    (kuutiosenttimetreinä, cm³)
    <br>
    Teho:
    <input type="number" name="power" min="0" max="2000" value="{{ i[12] }}" required>
    (kilowatteina, kW)
    <br>
    Tieliikennekelpoisuus:
    <input type="radio" id="notlegal" name="legal" value="0">
    <label for="notlegal">Ei tieliikennekelpoinen</label>
    <input type="radio" id="legal" name="legal" value="1" checked>
    <label for="legal">Tieliikennekelpoinen</label>
    <br>
    Lisätiedot:
    <br>
    <textarea name="info" rows="3" cols="50">
        {{ i[14] }}
    </textarea>
    <br>
    {% endfor %}
    <br>
    <b>Viimeeksi merkityt varusteet:</b>
    <br>
    {% for i in car_spesific_equipment %}
    {{ i[0] }}
    <br>
    {% endfor %}
    <b>Merkitse varusteet:</b>
    <br>
    <ul style="list-style-type:none;">
        {% for e in equipment %}
    <li>
        <input type="checkbox" id="{{ e[0] }}" name="varusteet" value="{{ e[1] }}">
        <label for="{{ e[0] }}">{{ e[1] }}</label>
    </li>
    {% endfor %}
    </ul>
    <br>
    <input type="submit" value="Lähetä">
    <input type="reset" value="Tyhjennä">
    </form>