Tervetuloa autonettiin! <br>
Myytävät autot:
<hr>
{% for car in cars %}
Merkki: {{ car[1] }}<br>
Malli: {{ car[2] }}<br>
Mittarilukema: {{ car[3] }}<br>
Vuosimalli: {{ car[4] }}<br>
<a href="/ad/{{ car[0] }}">Mene ilmoitukseen</a>
<hr>
{% endfor %}
{% if session.user_id %}
<p>Kirjautuneena {{ session.username }}</p>
<p>OLET KIRJAUTUNEENA!</p>
Jätä ilmoitus <a href="/new">Tästä</a>
<br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
Kirjaudu sisään <a href="/login">tästä</a>:
<hr>
Jos sinulla ei ole tunnusta, voit luoda sen <a href="/register">tästä</a>
{% endif %}