<!DOCTYPE html>
<body>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% extends "layout.html" %}
    {% block title %}Kirjautuminen{% endblock %}
    {% block content %}
<div>
<form action="/login_user" method="POST">
Tunnus: <input id="username" type="text" name="username">
<p>
    Salasana: <input id="password" type="password" name="password">
</p>
<p>
    <input id="login-button" type="submit" value="Kirjaudu">
</p>
</form>
</div>
<div>
Jos sinulla ei ole tunnusta, voit luoda sen <a href="/register">tästä</a>
</div>
{% endblock %}
</body>