<!DOCTYPE html>
<body>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% extends "layout.html" %}
    {% block title %}Ilmoituksesi{% endblock %}
    {% block content %}
<div>
<h2>Aktiiviset</h2>
<hr>
{% if active %}
<ul style="list-style-type:none">
    {% for i in active %}
<li><b>Merkki: </b> {{ i[0] }} <br></li>
<li><b>Malli: </b> {{ i[1] }} <br></li>
<li><b>Mittarilukema: </b> {{ i[2] }} <br></li>
<li><b>Vuosimalli: </b> {{ i[3] }} <br></li>
<li><b>Hinta: </b> {{ i[4] }} <br></li>
<li><a href="/ad/{{ i[5] }}">Siirry ilmoitukseen</a> </li>
<hr>
{% endfor %}
</ul>
{% else %}
<p>Ei aktiivisia ilmoituksia</p>
{% endif %}
</div>
<div>
    <h2>Menneet</h2>
    <hr>
    {% if unactive %}
<ul style="list-style-type:none">
    {% for i in unactive %}
<li><b>Merkki: </b> {{ i[0] }}</li>
<li><b>Malli: </b> {{ i[1] }}</li>
<li><b>Mittarilukema: </b> {{ i[2] }}</li>
<li><b>Vuosimalli: </b> {{ i[3] }} </li>
<li><b>Hinta: </b> {{ i[4] }} </li>
<li><b>Lisätiedot: </b> {{ i[6] }}</li>
<hr>
{% endfor %}
</ul>
{% else %}
<p>Ei vanhoja ilmoituksia</p>
{% endif %}
</div>
{% endblock %}
</body>