<!DOCTYPE html>
<body>
    {% extends "layout.html" %}
    {% block title %}Ilmoituksesi{% endblock %}
    {% block content %}
<div>
<h2>Aktiiviset</h2>
<hr>
    {% for i in active %}
<b>Merkki: </b> {{ i[0] }} <br>
<b>Malli: </b> {{ i[1] }} <br>
<b>Mittarilukema: </b> {{ i[2] }} <br>
<b>Vuosimalli: </b> {{ i[3] }} <br>
<b>Hinta: </b> {{ i[4] }} <br>
<a href="/ad/{{ i[5] }}">Siirry ilmoitukseen</a> <br>
<hr>
{% endfor %}
</div>
<div>
    <h2>Menneet</h2>
    <hr>
    {% for i in unactive %}
<b>Merkki: </b> {{ i[0] }} <br>
<b>Malli: </b> {{ i[1] }} <br>
<b>Mittarilukema: </b> {{ i[2] }} <br>
<b>Vuosimalli: </b> {{ i[3] }} <br>
<b>Hinta: </b> {{ i[4] }} <br>
{{ i[6] }}

<hr>
{% endfor %}
</div>
{% endblock %}
</body>