<!DOCTYPE html>
<body>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% extends "layout.html" %}
    {% block title %}Luo käyttäjä{% endblock %}
    {% block content %}
    <h2>Luo uusi käyttäjä</h2>
    <hr>
<form action="/new_user" method="POST">
<label for="username">Käyttäjätunnus: </label>
<input type="text" id="username" name="username" required>
<br>
<label for="password">Salasana: </label>
<input type="password" id="password" name="password" required>
<br>
<label for="fname">Etunimi: </label>
<input type="text" id="fname" name="fname" required>
<br>
<label for="sname">Sukunimi: </label>
<input type="text" id="sname" name="sname" required>
<br>
<label for="location">Paikkakunta: </label>
<input type="text" id="location" name="location" required>
<br>
<label for="tel">Puhelinnumero: </label>
<input type="tel" id="tel" name="tel">
<br>
<label for="email">Sähköposti: </label>
<input type="email" id="email" name="email">
<br>
<input type="submit" value="Lähetä">
<input type="reset" value="Tyhjennä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}
</body>